%h3 Geocaching final possibilities shown as a grid on a map
%form#coordinates_input
  %input#coords{value: "N 48° 0?.364 E 017° 0?.321"}
  %button#submit show
#map-canvas
  %p.lead
    Copy &amp; paste the coordinates into the box above.
    %br
    If you don't know some of the digits, replace it with "?"
  %p.center.lead
    Here will come the map...