%h3 Incomplete coordinates? Display all possible locations!
%form#coordinates_input
  %input#coords{value: "N 48° 0?.364 E 017° 0?.321"}
  %button#submit show
#map-canvas
  %p.lead
    Copy &amp; paste incomplete coordinates into the box above.
    %br
    Unknown digits replace with "?"
  %p.center.lead
    Here will come the map...